<div id="memberL">
<h2>个人中心</h2>
<ul id="memberNav">
    <li><a href="@Url.Action("userinfo")"><s>&gt;</s>账户信息</a></li>
    <li><a href="@Url.Action("safeinfo")"><s>&gt;</s>账户安全</a></li>
    <li><a href="@Url.Action("orderlist")"><s>&gt;</s>我的订单</a></li>
    <li><a href="@Url.Action("shipaddresslist")"><s>&gt;</s>收货地址</a></li>
    <li><a href="@Url.Action("favoriteproductlist")"><s>&gt;</s>收藏商品</a></li>
    <li><a href="@Url.Action("paycreditloglist")"><s>&gt;</s>我的@{@WorkContext.PayCreditName}</a></li>
    <li><a href="@Url.Action("couponlist")"><s>&gt;</s>优惠劵</a></li>
    <li><a href="@Url.Action("productconsultlist")"><s>&gt;</s>购买咨询</a></li>
    <li><a href="@Url.Action("productreviewlist")"><s>&gt;</s>商品评价</a></li>
</ul>
</div>