@model BrnMall.Web.Models.FavoriteStoreListModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>店铺收藏夹-@{@WorkContext.MallConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.MallConfig.SEOKeyword)
    @Html.Raw(WorkContext.MallConfig.SEODescription)
    <link href="@{@WorkContext.CSSCDN}/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/css/ucenter.css" rel="stylesheet" type="text/css" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/jquery.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/common.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/ucenter.user.js" type="text/javascript"></script>
    <script type="text/javascript">
        uid = @WorkContext.Uid;
        isGuestSC = @WorkContext.MallConfig.IsGuestSC;
        scSubmitType = @WorkContext.MallConfig.SCSubmitType;
    </script>
</head>

<body>
@Html.Partial("_header")

<div class="bigBox" id="member">
<div class="box">
@Html.Partial("_menu")
<div id="memberR">
    <h2 id="memberRT">收藏店铺</h2>
    <div class="favT">
      @*<label><input type="checkbox" />全选</label>*@
        <div class="favTpage">
            共有 <b>@Model.PageModel.TotalCount</b> 条记录<i>
            <font color="#ff6600">@Model.PageModel.PageNumber</font>/@Model.PageModel.TotalPages </i> &nbsp; 
            @if (Model.PageModel.HasPrePage)
            { 
                <a href = "@Url.Action("favoritestorelist", new RouteValueDictionary { { "page", Model.PageModel.PrePageNumber } })" class="whiteBT">上一页</a>@:&nbsp; 
            }
            else
            {
                <a href="javascript:;" class="whiteBT">上一页</a>@:&nbsp; 
            }
            @if (Model.PageModel.HasNextPage)
            {
                <a href = "@Url.Action("favoritestorelist", new RouteValueDictionary { { "page", Model.PageModel.NextPageNumber } })" class="whiteBT">下一页</a>
            }
            else
            {
                <a href="javascript:;" class="whiteBT">下一页</a>
            } 
        </div>
    </div>
    <table width="100%" border="0" cellspacing="0" class="dingdan">
         <thead>
          <tr>
            <th @*colspan="2"*@ valign="bottom">店铺信息</th>
            <th>收藏时间</th>
            <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow row in Model.StoreList.Rows)
            {
           <tr id="favoriteStore@{@row["storeid"]}">
                @*<td><input type="checkbox" /></td>*@
                <td>
                <div class="proList">
                    <img src="@{@WorkContext.ImageCDN}/upload/store/@row["storeid"]/logo/thumb50_50/@row["logo"]" width="50" height="50" /><a href="#">@row["name"]<br /></a>
                    <div class="clear"></div>
                </div>
                </td>
                <td>@row["addtime"]<br /></td>
                <td><a href="javascript:delFavoriteStore(@row["storeid"])">删除</a></td>
            </tr>
            }
        </tbody>
    </table>

<div class="favT">
    @*<label><input type="checkbox" />全选</label>*@
    <div class="favTpage">
        共有 <b>@Model.PageModel.TotalCount</b> 条记录<i>
        <font color="#ff6600">@Model.PageModel.PageNumber</font>/@Model.PageModel.TotalPages </i> &nbsp; 
        @if (Model.PageModel.HasPrePage)
        { 
            <a href = "@Url.Action("favoritestorelist", new RouteValueDictionary { { "page", Model.PageModel.PrePageNumber } })" class="whiteBT">上一页</a>@:&nbsp; 
        }
        else
        {
            <a href="javascript:;" class="whiteBT">上一页</a>@:&nbsp; 
        }
        @if (Model.PageModel.HasNextPage)
        {
            <a href = "@Url.Action("favoritestorelist", new RouteValueDictionary { { "page", Model.PageModel.NextPageNumber } })" class="whiteBT">下一页</a>
        }
        else
        {
            <a href="javascript:;" class="whiteBT">下一页</a>
        } 
    </div>
</div>

</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>


@Html.Partial("_footer")
</body>
</html>