@model BrnMall.Web.StoreAdmin.Models.StoreModel

@section header{
    <title>店铺信息</title>
    <link type="text/css" rel="stylesheet" href="/admin_store/css/site.css"/>
    <script type="text/javascript" src="/admin_store/scripts/jquery.js"></script>
    <link type="text/css" rel="stylesheet" href="/components/webuploader/webuploader.css" />
    <script type="text/javascript" src="/components/webuploader/webuploader.js"></script>
    <script type="text/javascript" src="/admin_store/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/admin_store/scripts/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="/admin_store/scripts/region.js"></script>
    <script type="text/javascript">
        provinceId = @ViewData["provinceId"]; //省id
        cityId = @ViewData["cityId"]; //市id
        countyId = @ViewData["countyId"]; //县或区id

        $(function () {
            var logoUploader = WebUploader.create({
                pick: '.uploadLogoBut',
                auto: true,
                swf: '/components/webuploader/Uploader.swf',
                server: '/storeadmin/tool/upload?operation=uploadstorelogo',
                fileVal: 'upload',
                accept: {
                    title: 'Images',
                    extensions: '@ViewData["allowImgType"]',
                    mimeTypes: 'image/*'
                },
                fileSingleSizeLimit: @ViewData["maxImgSize"]
            });

            logoUploader.on('uploadProgress', function(file, percentage) {
                $(".uploadLogoPreview").html("上传中...");
            });

            logoUploader.on('uploadSuccess', function(file, response) {
                var data = response._raw;
                if (data == "-1")
                    $(".uploadLogoPreview").html('图片不能为空');
                else if (data == "-2")
                    $(".uploadLogoPreview").html('图片类型不允许');
                else if (data == "-3")
                    $(".uploadLogoPreview").html('图片太大');
                else {
                    $(".uploadLogoPreview").html("<img src=\"@WorkContext.ImageCDN/upload/store/@WorkContext.StoreId/logo/source/" + data + "\"  />");
                    $("#Logo").val(data);
                }
            });

            logoUploader.on('uploadError', function(file) {
                $(".uploadLogoPreview").html("上传失败");
            });

            var bannerUploader = WebUploader.create({
                pick: '.uploadBannerBut',
                auto: true,
                swf: '/components/webuploader/Uploader.swf',
                server: '/storeadmin/tool/upload?operation=uploadstorebanner',
                fileVal: 'upload',
                accept: {
                    title: 'Images',
                    extensions: '@ViewData["allowImgType"]',
                    mimeTypes: 'image/*'
                },
                fileSingleSizeLimit: @ViewData["maxImgSize"]
            });

            bannerUploader.on('uploadProgress', function(file, percentage) {
                $(".uploadBannerPreview").html("上传中...");
            });

            bannerUploader.on('uploadSuccess', function(file, response) {
                var data = response._raw;
                if (data == "-1")
                    $(".uploadBannerPreview").html('图片不能为空');
                else if (data == "-2")
                    $(".uploadBannerPreview").html('图片类型不允许');
                else if (data == "-3")
                    $(".uploadBannerPreview").html('图片太大');
                else {
                    $(".uploadBannerPreview").html("<img src=\"@WorkContext.ImageCDN/upload/store/@WorkContext.StoreId/banner/" + data + "\"  />");
                    $("#Banner").val(data);
                }
            });

            bannerUploader.on('uploadError', function(file) {
                $(".uploadBannerPreview").html("上传失败");
            });

        });
    </script>
    <style type="text/css">
        .uploadBut .cancel,.uploadBut .fileName,.uploadBut .data,.uploadBut .uploadify-progress{ display:none;}
    </style>
}

@section body{
<h1 class="rightH1">
店铺管理 &gt;&gt; 店铺信息
<div class="right">
<div class="clear"></div>
</div>
<div class="clear"></div>
</h1>
@using (Html.BeginForm())
{
<div class="addTable">
<table width="100%">
  <tr>
    <td width="80px" align="right">店铺名称：</td>
    <td>@Html.TextBoxFor(x => x.StoreName, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.StoreName)</td>
    </tr>
            <tr>
    <td align="right">Logo：</td>
    <td>
        <div class="upload">
            <div class="uploadPreview uploadLogoPreview">
                @if (!string.IsNullOrEmpty(Model.Logo))
                {
                    <img src="@WorkContext.ImageCDN/upload/store/@WorkContext.StoreId/logo/source/@Model.Logo" />
                }
                else
                {
                    @:暂无图片
                }
            </div>
            <div class="left">
                <div class="uploadProgressBar"></div>
                <div class="uploadBut uploadLogoBut">选择图片</div>
            </div>
            <div class="clear"></div>
        </div>
        @Html.TextBoxFor(x => x.Logo, new { @class = "hide" })
        @Html.ValidationMessageFor(x => x.Logo)
      <br />
    </td>
    </tr>

        <tr>
    <td align="right">Banner：</td>
    <td>
        <div class="upload">
            <div class="uploadPreview uploadBannerPreview">
                @if (!string.IsNullOrEmpty(Model.Banner))
                {
                    <img src="@WorkContext.ImageCDN/upload/store/@WorkContext.StoreId/banner/@Model.Banner" />
                }
                else
                {
                    @:暂无图片
                }
            </div>
            <div class="left">
                <div class="uploadProgressBar"></div>
                <div class="uploadBut uploadBannerBut">选择图片</div>
            </div>
            <div class="clear"></div>
        </div>
        @Html.TextBoxFor(x => x.Banner, new { @class = "hide" })
        @Html.ValidationMessageFor(x => x.Banner)
    </td>
    </tr>

        <tr>
    <td align="right">店铺行业：</td>
    <td>@Html.DropDownListFor(x => x.StoreIid, ViewData["storeIndustryList"] as List<SelectListItem>)@Html.ValidationMessageFor(x => x.StoreIid)
    </td>
    </tr>

    <tr>
    <td align="right">店铺主题：</td>
    <td>@Html.DropDownListFor(x => x.Theme, ViewData["themeList"] as List<SelectListItem>)@Html.ValidationMessageFor(x => x.Theme)
    </td>
    </tr>

          <tr>
    <td align="right">手机号：</td>
    <td>@Html.TextBoxFor(x => x.Mobile, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.Mobile)</td>
    </tr>

              <tr>
    <td align="right">固定电话：</td>
    <td>@Html.TextBoxFor(x => x.Phone, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.Phone)</td>
    </tr>

              <tr>
    <td align="right">腾讯QQ：</td>
    <td>@Html.TextBoxFor(x => x.QQ, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.QQ)</td>
    </tr>

          <tr>
    <td align="right">阿里旺旺：</td>
    <td>@Html.TextBoxFor(x => x.WW, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.WW)</td>
    </tr>

                  <tr>
    <td align="right">所在区域：</td>
    <td>
        <select class="provinceSelect" id="provinceSelect">
        <option selected="selected" value="-1">请选择</option>
        </select>
        <select class="citySelect" id="citySelect">
        <option selected="selected" value="-1">请选择</option>
        </select>
        <select class="countySelect" id="countySelect" name="regionid">
        <option selected="selected" value="-1">请选择</option>
        </select>
        @Html.ValidationMessageFor(x => x.RegionId)
    </td>
    </tr>
              <tr>
    <td align="right">店铺公告：</td>
    <td>@Html.TextAreaFor(x => x.Announcement, new { cols = "40", rows = "6" })@Html.ValidationMessageFor(x => x.Announcement)</td>
    </tr>

              <tr>
    <td align="right">店铺描述：</td>
    <td>
    <br />
    @Html.TextAreaFor(x => x.Description, new { cols = "40", rows = "6" })@Html.ValidationMessageFor(x => x.Description)</td>
    </tr>

  <tr>
    <td align="right">&nbsp;</td>
    <td>
    <a href="" class="addBt" id="sumbitBut" ><img src="/admin_store/images/submit.jpg" /></a>
            <script type="text/javascript">
                $(function () {
                    $("#sumbitBut").click(function () {
                        $("form:first").submit();
                        return false;
                    })
                });
        </script>
    </td>
    </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table>
</div>
}
}